<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/riteshsharma/IdeaProjects/DemoProject">
       <classes>
           <class name="testcases.Elements"/>
           <class name="testcases.AlertFrameWindow"/>
           <class name="testcases.Widgets"/>
           <class name="testcases.SwitchingTab"/>
           <class name="testcases.Frame"/>
       </classes>
    </test>
</suite> 